@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* ./src/components/AnimatedText.css */

.overflow-hidden {
    overflow: hidden;
  }
  
  .transition-transform {
    transition: transform 0.5s ease-in-out;
  }
  
  .h-8 {
    height: 2rem; /* Tailwind's height class */
  }
  
